.help-block {
    font-size: 12px;
}

h2 {
    color: white;
    text-align: center;
}

.login-label {
    color: white;
}

.login-label-error {
    font-size: 16px;
    color: red;
}

.login-button {
    text-align: center;
}

.margin-top-login {
    margin-top: 9em;
}

.image-grid {
    margin-top: 1em;
    margin-left: 6em;
    width: 50%;
    border-radius: 10px;
}

.grid-width-control {
    width: 80%;
}

.image-detail {
    margin-top: 1em;
    margin-left: 3em;
    width: 85%;
    border-radius: 10px;
}

.image-grid-cart {
    width: 100%;
    border-radius: 10px;
}

.cart-list-items {
    padding: 0.1em;
    border: 0.1px solid black;
    border-radius: 5px;
}